body {
    background-color: green;
}

#deck-card {
    width: 20%;
    background-color: white;
    height:50vh;
}

.suits {
    height: 10vh;
}
.club {
    content: url(https://sean.brunnock.com/Images/club.svg);
}   
.spade {
    content: url(https://sean.brunnock.com/Images/spade.svg);

}
.diamond {
    content: url(https://sean.brunnock.com/Images/heart.svg);

    }
.heart {
    content: url(https://sean.brunnock.com/Images/heart.svg);

    }

.numbers {
    
}